<input type="checkbox" name="xrx_bnrv4_column_{{id}}" id="xrx_bnrv4_column_{{id}}"></input>

{{#unless hideLabel}}
	{{#if label}}

		<div class="xrx_bnrv4_column_header">
			<label for="xrx_bnrv4_column_{{id}}" id="xrx_bnrv4_{{id}}">{{label}}</label>
			{{> includes/partials/link}}
		</div>
	{{/if}}
{{/unless}}
